@import url('https://fonts.googleapis.com/css?family=Montserrat:200,400,600,700,900');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

:root{
    --primary: #fad503;
    --dark: #0C0F10;
    --secondary: #0f1314;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1.7;
    color: #fff;
    background-color: var(--secondary)
}

a {
    text-decoration: none;
}

/* Utilities */

.py-1{padding: 1.5rem 0;}
.py-2{padding: 2rem 0;}
.py-3{padding: 3rem 0;}

.p-1{padding: 1.5rem;}
.p-2{padding: 2rem;}
.p-3{padding: 3rem;}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
    overflow: hidden;
}

.text-primary {
    color: var(--primary);
}
.text-dark {
    color: var(--dark);
}

.bg-primary {
    background-color: var(--primary);
}
.bg-secondary{
    background-color: var(--secondary)
}
.bg-dark {
    background-color: var(--dark);
}
.bg-white{
    background-color: #fff
}

.m-heading{

    font-family: 'Permanent Marker', cursive;
    font-size: 3rem;
    font-weight: 200;
    padding-bottom: 1rem;

}

.l-heading{

    font-family: 'Permanent Marker', cursive;
    font-size: 4rem;
    font-weight: 200;
    padding-bottom: 1rem;

}

.title{
    font-family: 'Permanent Marker', cursive;
    font-size: 5rem;
    font-weight: 200;
    padding-bottom: 1rem;
}

.text-center{
    text-align: center;
}

.btn {
    display: inline-block;
    margin-top: 1.5rem;
    padding: 1rem 2rem;
    border: none;
    color: var(--dark);
    background-color: #fff;
    border-radius: 50px;
    transition: .2s;
   
}

.btn:hover {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(36, 36, 36, 0.2)
  }

.btn-primary {
    color: var(--dark);
    background-color: var(--primary);
}

/* Navbar */

#navbar {
    top: 0;
    z-index: 1;
    padding-top: 2rem;
    
}

#navbar ul {
    justify-content: center;
    display: flex;
    align-items: center;
    list-style: none;

}

#navbar ul li a {
    color: #fff;
    padding: 0.75rem;
    margin: 0 0.25rem;
}

.logo {
    background-color: var(--primary);
    font-size: 1.5rem;
    font-family: 'Permanent Marker', cursive;
    color: var(--dark)!important;
    padding: 1rem;
    border-radius: 50%;

}

/* Showcase */

#showcase {
    background:
        linear-gradient(rgba(0, 0, 0, 0.9),
            rgba(17, 17, 17, 0.8)),
        url('../img/header\ 3.jpg') no-repeat center center/cover;
    height: 90vh;
    color: #fff;

}

#showcase .showcase-content {
    text-align: center;
    padding-top: 10%;
}


#showcase .showcase-content h2 {
    font-size: 1.5rem;

}

/* Section: About */
#about{
    
    background: #0C0F10;
    text-align: center;
}

#about .items{
    display: flex;
    
}
#about .items .item{
    flex: 1;
}

#about .items .item i{
    
    font-size: 3rem;
    margin: 1rem 0;
color: #e9c704;
   
}
#about .items .item h2{
    color: var(--primary);
    font-size: 1rem;
    padding-bottom: 1rem;
}
#about .items .item p{
    font-size: 1rem;
   
}

/* Section: Work */

#work .works .items{
    display: flex
}
#work .works .items .item{
    flex: 1;
    margin: .5rem;
}


#work .items .item img{
    
    width: 90%;
}

/* Design */
#design{
    padding: 1rem 0 8rem 0;
}

.carousel-item{
    display: flex;
    justify-content: center
    
}
.carousel-item img{
    width: 80%;

}


/* Contact */

#contact{
    display: flex
}

#contact .contact-text{
    flex: 1
    
}
#contact .contact-form{
    flex: 1
    
}



@media (max-width: 500px){
    #showcase {
        height: 85vh;
    }
    #showcase .showcase-content {
        padding-top: 15%;
    }
    .title{
        font-size: 3.5rem;
    }
    #work .works .items{
        display: flex;
        flex-direction: column;
    }

    #about .items{
        display: flex;
        flex-direction: column
    }

    #design .carousel-item img{
        width:  500px;
    }

    #contact{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}

