/* Utilities */

.py-1{padding: 1.5rem 0;}
.py-2{padding: 2rem 0;}
.py-3{padding: 3rem 0;}

.p-1{padding: 1.5rem;}
.p-2{padding: 2rem;}
.p-3{padding: 3rem;}

.my-1{margin: 1.5rem 0;}
.my-2{margin: 2rem 0;}
.my-3{margin: 3rem 0;}

.mx-1{margin: 0 1.5rem;}
.mx-2{margin: 0 2rem;}
.mx-3{margin: 0 3rem;}

.m-1{margin: 1.5rem;}
.m-2{margin: 2rem;}
.m-3{margin: 3rem;}


.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 1.5rem;
    overflow: hidden;
}

.text-primary {
    color: var(--primary);
}
.text-dark {
    color: var(--dark);
}

.bg-primary {
    background-color: var(--primary);
}
.bg-secondary{
    background-color: var(--secondary)
}
.bg-dark {
    background-color: var(--dark);
}
.bg-white{
    background-color: #fff
}

.lead {
    text-align: justify;
    line-height: 1.5;
    font-size: 1rem;
}

.m-heading{

    font-family: 'Permanent Marker', cursive;
    font-size: 3rem;
    font-weight: 200;
    padding-bottom: 1rem;

}

.l-heading{

    font-family: 'Permanent Marker', cursive;
    font-size: 4rem;
    font-weight: 200;
    padding-bottom: 1rem;

}

.title{
    font-family: 'Permanent Marker', cursive;
    font-size: 5.5rem;
    font-weight: 200;
    padding-bottom: 1rem;
}

.text-center{
    text-align: center;
}

.btn {
    display: inline-block;
    margin: 1.5rem 0;
    padding: 1rem 2rem;
    border: none;
    color: var(--dark);
    background-color: #fff;
    border-radius: 50px;
    transition: .2s;
   
}

.btn-sm {
    display: inline-block;
    margin: 1.5rem 0;
    padding: .5rem 1rem;
    border: none;
    font-size: .75rem;
    color: var(--dark);
    background-color: #fff;
    border-radius: 50px;
    transition: .2s;
   
}

.btn:hover {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(36, 36, 36, 0.2)
  }

.btn-primary {
    color: var(--dark);
    background-color: var(--primary);
}

.btn-primary-invert {
    color: var(--primary);
    background-color: var(--dark);
    border: 1.5px solid var(--primary);
}

.btn-primary-invert:hover {
    color: var(--dark);
    background-color: var(--primary);
    border: 1.5px solid var(--primary);
}


